
G4/target/test-classes/com/bootcamp/G4/G4ApplicationTests.class
G4/target/classes/META-INF/maven/com.bootcamp/G4/pom.xml
G4/target/classes/META-INF/maven/com.bootcamp/G4/pom.properties
G4/target/classes/META-INF/MANIFEST.MF
G4/target/classes/com/bootcamp/G4/G4Application.class
G4/target/classes/application.properties
G4/bin/src/main/resources/application.properties
G4/bin/pom.xml
G4/bin/mvnw.cmd
G4/bin/mvnw
G4/bin/.mvn/wrapper/maven-wrapper.properties
G4/bin/.mvn/wrapper/maven-wrapper.jar
G4/.settings/org.springframework.ide.eclipse.prefs
G4/.settings/org.eclipse.jdt.core.prefs
G4/.settings/org.eclipse.jdt.apt.core.prefs
G4/.settings/org.eclipse.core.resources.prefs
G4/.project
G4/.factorypath
G4/.classpath
G4/bin/.mvn/wrapper/maven-wrapper.jar
G4/bin/.mvn/wrapper/maven-wrapper.jar
