<nav class="navbar navbar-expand-lg bg-light bg-dark ">
    <div class="container-fluid ">
    </div>
    <div class="container-fluid ">
      </div>
      <div class="container-fluid ">
        <a class="navbar-brand mx-auto text-white" th:href="@{/login}">Logout</a>
        <button (click)="logout()"> Logout<i class="fa-solid fa-eraser"></i>
    </button>
        <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
  </nav>